VS_VERSION_INFO VERSIONINFO
FILEVERSION    	0,2,0,0
PRODUCTVERSION 	0,2,0,0
FILEOS         	4
FILETYPE       	2
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
        VALUE "CompanyName",      "eidauthenticate.sourceforge.net\0"
        VALUE "FileDescription",  "Authentication Package\0"
        VALUE "FileVersion",      "0.2.0.0\0"
        VALUE "InternalName",     "EIDAuthenticationPackage.dll\0"
        VALUE "OriginalFilename", "EIDAuthenticationPackage.dll\0"
        VALUE "ProductName",      "EID Authentication\0"
        VALUE "ProductVersion",   "0.2.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
      VALUE "Translation", 0x0409, 0x04B0
  END
END
