#include <Windows.h>
#include "EIDTest.h"

LANGUAGE 0,0

IDI_EIDCARDLIBRARYTEST ICON DISCARDABLE "EIDTest.ico"
IDI_SMALL ICON DISCARDABLE "small.ico"

IDC_EIDCARDLIBRARYTEST MENUEX
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Quit",IDM_EXIT
  END
  POPUP "Eid&AuthentificationPackage"
  BEGIN
    MENUITEM "Test registration",IDM_AP_REGISTRATION
    MENUITEM "Test Packageloaded",IDM_AP_LOAD
    MENUITEM "Test ProtectData",IDM_AP_PROTECT
    MENUITEM "&UserNameToToken",IDM_AP_TOKEN
    MENUITEM "UserNameTo&Profile",IDM_AP_PROFILE
    MENUITEM "Policies",IDM_AP_GPO
  END
  POPUP "Eid&CredentialProvider"
  BEGIN
    POPUP "Remove Policy",136
    BEGIN
      MENUITEM "Trace",IDM_CRED_RP_TRACE
      MENUITEM "Trigger",IDM_CRED_RP_TRIGGER
    END
    POPUP "&WaitThread"
    BEGIN
      MENUITEM "&Start",IDM_STARTWAITTHREAD
      MENUITEM "&Stop",IDM_STOPWAITTHREAD
    END
    MENUITEM "Credential&List",IDM_CRED_LIST
    MENUITEM "Certificate &Validation",IDM_CRED_CERT
    MENUITEM "UserTile",IDM_CRED_TILE
    MENUITEM "Test COM Object",IDM_CRED_COM
  END
  POPUP "EID&PasswordChangeNotification",IDM_
  BEGIN
    MENUITEM "Create Stored Credential (Direct)",IDM_PASS_CREATE
    MENUITEM "Update Credential (Direct)",IDM_PASS_UPDATE
    MENUITEM "Delete Credential (Direct)",IDM_PASS_DELETE
    MENUITEM "Retrieve Credential (Direct)",IDM_PASS_RETRIEVE
  END
  POPUP "Registration",143
  BEGIN
    MENUITEM "Authentication Package Register",IDM_REG_AP
    MENUITEM "Authentication Package UnRegister",IDM_UNREG_AP
    MENUITEM "Credential Provider Register",IDM_REG_CP
    MENUITEM "Credential Provider UnRegister",IDM_UNREG_CP
    MENUITEM "Password Filter Register",IDM_REG_PF
    MENUITEM "Password Filter UnRegister",IDM_UNREG_PF
    MENUITEM "Wizard Register",IDM_REG_WIZ
    MENUITEM "Wizard UnRegister",IDM_UNREG_WIZ
  END
  POPUP "Logon Scenarios",127
  BEGIN
    MENUITEM "&CredUIPromptForWindowsCredentials",IDM_CRED_UI
    MENUITEM "CredUI Admin",IDM_CRED_UI_ADMIN
  END
  POPUP "&Utilities"
  BEGIN
    MENUITEM "&Create test certificates",IDM_UTIL_CERT
    MENUITEM "Import certificate",IDM_UTIL_IMPORT
    MENUITEM "&List certificates",IDM_UTIL_LIST
    MENUITEM "Show Security Descriptor",IDM_UTIL_SHOWSD
    MENUITEM "Delete certificate",IDM_UTIL_DELETE
    MENUITEM "Clear all data on the card",IDM_UTIL_CLEAR
  END
  POPUP "Info",120
  BEGIN
    MENUITEM "List CSP",IDM_INFO_CSP
    MENUITEM "Compute SHA1 Hash",IDM_INFO_HASHSHA1
    MENUITEM "Compute NT Hash",IDM_INFO_HASHNT
    MENUITEM "View Tracing",IDM_INFO_TRACING
  END
END

IDD_NAMETOTTOKEN DIALOGEX -2,-13,170,73
CAPTION "EIDTest"
FONT 8,"MS Shell Dlg",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER|DS_MODALFRAME|DS_SHELLFONT
BEGIN
  CONTROL "",IDC_EDT1,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,72,9,81,15,WS_EX_CLIENTEDGE
  CONTROL "OK",IDOK,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_DEFPUSHBUTTON,57,54,50,14
  CONTROL "Username",IDC_STC1,"Static",WS_CHILD|WS_VISIBLE,12,9,48,15
  CONTROL "Domain",IDC_STC2,"Static",WS_CHILD|WS_VISIBLE,12,30,48,15
  CONTROL "",IDC_EDT2,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,72,30,81,15,WS_EX_CLIENTEDGE
  CONTROL "Cancel",IDCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP,114,54,50,14
END

STRINGTABLE DISCARDABLE
BEGIN
  IDC_EIDCARDLIBRARYTEST "EIDCARDLIBRARYTEST"
  IDS_APP_TITLE "EIDCardLibraryTest"
END

IDD_MAIN DIALOGEX 10,10,394,181
CAPTION "Test"
FONT 8,"MS Sans Serif",0,0,0
MENU IDC_EIDCARDLIBRARYTEST
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
END

IDD_CERTIFICATE DIALOGEX -4,-16,253,169
CAPTION "Certificate"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW|DS_CENTER
BEGIN
  CONTROL "Server Authentication",IDC_SERVERAUTH,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,96,90,9
  CONTROL "",IDC_SUBJECT,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,75,12,117,13,WS_EX_CLIENTEDGE
  CONTROL "Subject",IDC_STC3,"Static",WS_CHILD|WS_VISIBLE,33,13,33,12
  CONTROL "OK",IDC_OK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,154,144,42,18
  CONTROL "Cancel",IDC_Cancel,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,202,144,42,18
  CONTROL "At KeyExchange",IDC_ATKEY,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,9,150,129,9
  CONTROL "At Signature",IDC_ATSIGN,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,9,138,129,9
  CONTROL "SelfSigned Certificate",IDC_SELFSIGNED,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,151,90,84,13
  CONTROL "Certificate signed by ...",IDC_SIGNEDBY,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,151,105,84,15
  CONTROL "...",IDC_SELECTROOT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,235,105,15,15
  CONTROL "",IDC_SAVEON,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,151,123,99,81
  CONTROL "Certification Authority",IDC_CA,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,120,87,9
  CONTROL "",IDC_DTP1,"SysDateTimePick32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|DTS_LONGDATEFORMAT,75,30,118,12
  CONTROL "Client Authentication",IDC_CLIENTAUTH,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,84,90,9
  CONTROL "EFS",IDC_EFS,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,108,90,9
  CONTROL "Smart Card Authentication",IDC_SCAUTH,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,12,72,93,9
  CONTROL "Valid until",IDC_STC4,"Static",WS_CHILD|WS_VISIBLE,33,48,36,15
  CONTROL "",IDC_DTP2,"SysDateTimePick32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|DTS_LONGDATEFORMAT,75,48,118,12
  CONTROL "Valid since",IDC_STC5,"Static",WS_CHILD|WS_VISIBLE,30,33,36,15
END

IDD_PIN DIALOGEX -4,-16,169,52
CAPTION "Password"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_CENTER
BEGIN
  CONTROL "",IDC_PIN,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,63,12,81,15,WS_EX_CLIENTEDGE
  CONTROL "Password",IDC_STC6,"Static",WS_CHILD|WS_VISIBLE,3,12,48,15
  CONTROL "Cancel",IDC_PINCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP,105,36,50,14
  CONTROL "OK",IDC_PINOK,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_DEFPUSHBUTTON,48,36,50,14
END

IDD_CSPINFO DIALOGEX -4,-16,373,160
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME
BEGIN
  CONTROL "",IDC_PROVTYPE,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,3,9,141,78
  CONTROL "",IDC_PROVNAME,"ComboBox",WS_CHILD|WS_VISIBLE|WS_TABSTOP|CBS_DROPDOWNLIST,156,9,210,81
  CONTROL "",IDC_LSTALG,"ListBox",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|LBS_NOINTEGRALHEIGHT|LBS_HASSTRINGS|LBS_NOTIFY,6,27,357,96,WS_EX_CLIENTEDGE
  CONTROL "Cancel",IDC_CSPCANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,321,138,42,18
  CONTROL "OK",IDC_CSPOK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON,273,138,42,18
END

IDD_TRACE DIALOGEX 10,10,421,295
CAPTION "Tracing"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "",IDC_TRACE,"Edit",WS_CHILD|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_READONLY|ES_MULTILINE,0,0,351,267,WS_EX_CLIENTEDGE
END

