#include <windows.h>
#include "resources.h"

IDB_TILE_IMAGE BITMAP DISCARDABLE "SmartcardCredentialProvider.bmp"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,2,1,0
PRODUCTVERSION 0,2,1,0
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "eidauthenticate.sourceforge.net\0"
      VALUE "FileDescription", "Credential Provider\0"
      VALUE "FileVersion", "0.3.0.0\0"
      VALUE "InternalName", "EIDCredentialProvider.dll\0"
      VALUE "OriginalFilename", "EIDCredentialProvider.dll\0"
      VALUE "ProductName", "EID Credential Provider\0"
      VALUE "ProductVersion", "0.3.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

IDD_CANCELFORCEPOLICY DIALOGEX -4,-16,286,154
CAPTION "Force Smart Card Logon Policy"
FONT 9,"Segoe UI",0,0,0
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME
BEGIN
  CONTROL "",IDC_SHP1,"Static",WS_CHILD|WS_VISIBLE|SS_WHITERECT,0,0,288,129
  CONTROL "",IDC_USERNAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,9,51,186,14,WS_EX_CLIENTEDGE
  CONTROL "",IDC_PASSWORD,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_PASSWORD,9,81,186,14,WS_EX_CLIENTEDGE
  CONTROL "Username:",IDC_STC1,"Static",WS_CHILD|WS_VISIBLE,9,39,64,9
  CONTROL "Password:",IDC_STC2,"Static",WS_CHILD|WS_VISIBLE,9,69,64,9
  CONTROL "OK",IDC_OK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON|0x000000C0,171,135,51,15
  CONTROL "<a id=""idinfo"">Reset password</a>",IDC_LINK,"SysLink",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LWS_IGNORERETURN|LWS_TRANSPARENT,9,99,184,12
  CONTROL "Cancel",IDC_CANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|0x000000C0,228,135,51,15
  CONTROL "Please logon using an administrator account",IDC_STC3,"Static",WS_CHILD|WS_VISIBLE,9,9,117,21
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_DISABLEFORCEPOLICY "Disable Force Smart Card Logon Policy"
  IDS_CERTIFICATEDETAIL "Certificate Detail"
END

