#include <windows.h>
#include "resources.h"

IDD_CANCELFORCEPOLICY DIALOGEX -4,-16,286,154
CAPTION "Force Smart Card Logon Policy"
FONT 9,"Segoe UI",0,0,0
LANGUAGE 12,1
STYLE WS_VISIBLE|WS_CAPTION|WS_SYSMENU|WS_THICKFRAME
BEGIN
  CONTROL "",IDC_USERNAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP,9,51,186,14,WS_EX_CLIENTEDGE
  CONTROL "",IDC_PASSWORD,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_PASSWORD,9,81,186,14,WS_EX_CLIENTEDGE
  CONTROL "Nom:",IDC_STC1,"Static",WS_CHILD|WS_VISIBLE,9,39,64,9
  CONTROL "Mot de passe:",IDC_STC2,"Static",WS_CHILD|WS_VISIBLE,9,69,64,9
  CONTROL "OK",IDC_OK,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_DEFPUSHBUTTON|0x000000C0,171,135,51,15
  CONTROL "<a id=""idinfo"">Réinitialiser le mot de passe</a>",IDC_LINK,"SysLink",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LWS_IGNORERETURN|LWS_TRANSPARENT,9,99,184,12
  CONTROL "Cancel",IDC_CANCEL,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|0x000000C0,228,135,51,15
  CONTROL "Veuillez vous connecter en tant qu'administrateur",IDC_STC3,"Static",WS_CHILD|WS_VISIBLE,9,9,117,21
END

STRINGTABLE DISCARDABLE
LANGUAGE 12,1
BEGIN
  IDS_DISABLEFORCEPOLICY "Désactiver l'usage obligatoire de la carte à puce"
  IDS_CERTIFICATEDETAIL "Détail du certificat"
END

