#include <windows.h>
#include "EIDConfigurationWizard.h"

IDR_VERSION1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF04B0"
    BEGIN
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x04B0
  END
END

IDD_01MAIN DIALOGEX -2,-13,253,154
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT
BEGIN
  CONTROL "Change Smart Card Credential",IDC_01CHANGE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|0x0000000E,21,21,216,33
  CONTROL "Disable Smart Card Logon",IDC_01DELETE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|0x0000000E,21,69,216,33
END

IDD_02ENABLE DIALOGEX -4,-16,253,154
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT
BEGIN
  CONTROL "Use preconfigured Card",IDC_02EXISTING,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|0x0000000E,21,21,216,33
  CONTROL "Configure a new set of credential",IDC_02NEW,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|0x0000000E,21,69,216,33
END

IDD_05PASSWORD DIALOGEX -2,-13,337,178
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT
BEGIN
  CONTROL "Password :",-1,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,12,42,60,10
  CONTROL "",IDC_05PASSWORD,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_PASSWORD,102,42,109,11,WS_EX_CLIENTEDGE
  CONTROL "Launch a test after the completion of this wizard",IDC_05TEST,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,15,108,282,12
END

IDD_03NEW DIALOGEX -2,-11,273,209
FONT 10,"MS Shell Dlg",0,0,0
LANGUAGE 12,1
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT
BEGIN
  CONTROL "Select a root certificate",1007,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,0,0,272,20
  CONTROL "&Use this certificate",IDC_03USETHIS,"Button",WS_CHILD|WS_VISIBLE|WS_GROUP|WS_TABSTOP|BS_AUTORADIOBUTTON,3,48,163,10
  CONTROL "&Create a self signed certificate",IDC_03_CREATE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,3,30,185,10
  CONTROL "&Import a p12 file into the smart card",IDC_03IMPORT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTORADIOBUTTON,3,138,185,10
  CONTROL "&Détails du certificat :",1009,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,12,78,250,10
  CONTROL "Certificat par défaut",IDC_03CERTIFICATEPANEL,"ListBox",WS_VISIBLE|WS_BORDER|WS_TABSTOP|LBS_NOSEL,9,90,175,45
  CONTROL "&Afficher le certificat",IDC_03SHOW,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,192,87,81,12
  CONTROL "&Sélectionner un certificat",IDC_03SELECT,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,192,105,81,12
  CONTROL "",IDC_03IMPORTPASSWORD,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL|ES_PASSWORD,96,171,162,11,WS_EX_CLIENTEDGE
  CONTROL "Password :",IDC_STC2,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,6,171,60,10
  CONTROL "File :",IDC_STC3,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,6,153,60,10
  CONTROL "",IDC_03FILENAME,"Edit",WS_CHILD|WS_VISIBLE|WS_TABSTOP|ES_AUTOHSCROLL,96,153,162,11,WS_EX_CLIENTEDGE
  CONTROL "...",IDC_03SELECTFILE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,258,153,12,12
  CONTROL "Delete all certificates before processing",IDC_03DELETE,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP|BS_AUTOCHECKBOX,9,192,261,9
END

IDD_04CHECKS DIALOGEX -4,-16,310,184
CAPTION "IDD_DLG"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_POPUP|WS_VISIBLE|WS_CAPTION|WS_SYSMENU|DS_MODALFRAME|DS_SETFONT
BEGIN
  CONTROL "",IDC_04CHECKS,"SysListView32",WS_CHILD|WS_VISIBLE|WS_TABSTOP|LVS_LIST,15,66,261,96,WS_EX_CLIENTEDGE
  CONTROL "Select a root certificate",IDC_STC1,"Static",WS_CHILD|WS_VISIBLE|WS_GROUP,0,0,272,20
END

