#include "resources.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,3,0,3
PRODUCTVERSION 0,3,0,3
FILEOS 0x00000004
FILETYPE 0x00000002
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "eidauthenticate.sourceforge.net\0"
      VALUE "FileDescription", "Password Change Notification\0"
      VALUE "FileVersion", "0.3.0.3\0"
      VALUE "InternalName", "EIDPasswordChangeNotification.dll\0"
      VALUE "OriginalFilename", "EIDPasswordChangeNotification.dll\0"
      VALUE "ProductName", "EID Password Change Notification\0"
      VALUE "ProductVersion", "0.3.0.3\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 0x04B0
  END
END

